appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
atomicwrites==1.4.0
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
comtypes==1.1.10
conda==4.11.0
cvxpy==1.1.17
cytoolz==0.11.0
daal4py==2021.4.0
dask==2021.10.0
decorator==4.3.0
ecos==2.0.8
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
fonttools==4.25.0
google==3.0.0
google-api-core==2.3.2
google-auth==2.3.3
google-cloud==0.34.0
google-cloud-bigquery==2.31.0
google-cloud-core==2.2.1
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
grpcio-status==1.43.0
h5py==2.10.0
inflection==0.5.1
jupyter==1.0.0
llvmlite==0.37.0
locket==0.2.1
numpy
matplotlib
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
nltk==3.6.5
osqp==0.6.2.post0
pandas-bokeh==0.5.5
pandas
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
ply==3.11
proto-plus==1.19.8
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pyls-spyder==0.4.0
pyomo
pyportfolioopt==1.5.1
pyreadline==2.1
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pywin32==302
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
qdldl==0.1.5.post0
rsa==4.8
scikit-image==0.18.3
scikit-learn-intelex==2021.20211201.114757
scs==3.0.0
simplegeneric==0.8.1
sip==4.19.13
Sphinx==4.2.0
statsmodels==0.12.2
tables==3.6.1
TBB==0.2
terminado==0.9.4
unicodecsv==0.14.1
urllib3==1.26.7
webencodings==0.5.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
